html,
body {
  height: 100%;
  background: url('/img/hat.png') no-repeat bottom left #f7d794;
}
body,
.list-group-item {
  background-color: #f7d794;
}
main {
  position: relative;
}
.navbar {
  justify-content: center;
  background-color: #596275;
}
.navbar a {
  color: #fff;
}
.container-mobile {
  padding-left: 0;
  padding-right: 0;
}
.curso {
  border-radius: 0 !important;
  border-left: none;
  border-right: none;
  position: relative;
}
.curso i {
  display: none;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 32px;
}
.curso.delete i {
  display: block;
}
.material-icons.md-dark {
  color: #cd6133;
}
.navbar .material-icons.md-dark {
  color: #fff;
}
.icono-anyadir {
  position: fixed;
  bottom: 35px;
  right: 25px;
  font-size: 48px;
}
.off {
  display: none;
}
.page-form {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.page-form .titulo {
  margin: 10px 0;
}
.icono-volver {
  position: absolute;
  left: 15px;
  height: 32px;
}
.icono-volver i {
  font-size: 32px;
}
.circular-loader {
  width: 100px;
}
.profile-main-loader {
  left: 50% !important;
  transform: translateX(-50%);
  position: fixed !important;
  top: 50% !important;
  margin-top: -100px;
  width: 100px;
  z-index: 9000 !important;
}

.profile-main-loader .loader {
  position: relative;
  margin: 0px auto;
  width: 100px;
  height: 100px;
}
.profile-main-loader .loader:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.circular-loader {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
}

.loader-path {
  stroke-dasharray: 150, 200;
  stroke-dashoffset: -10;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
@-webkit-keyframes color {
  0% {
    stroke: #70c542;
  }
  40% {
    stroke: #70c542;
  }
  66% {
    stroke: #70c542;
  }
  80%,
  90% {
    stroke: #70c542;
  }
}
@keyframes color {
  0% {
    stroke: #70c542;
  }
  40% {
    stroke: #70c542;
  }
  66% {
    stroke: #70c542;
  }
  80%,
  90% {
    stroke: #70c542;
  }
}
.btn-default {
  background-color: #cd6133;
  color: #fff;
}
